<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Admin Dashboard</title>
</head>

<body>
    <header>
        <h1>Administrator Dashboard</h1>
    </header>

    <div class="admin-dashboard">
        <section class="add-doctor">
            <h2>Add User</h2>
            <form id="add-doctor-form" action="/add" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required>
                <input type="text" name="name" id="user-name" placeholder="User Name" required>
                <input type="text" name="specialty" id="specialty" placeholder="Specialty" required>
                <input type="text" name="qualifications" id="qualifications" placeholder="Qualifications" required>
                <button class="admin-button" type="submit">Add User</button>
            </form>
        </section>


        <section class="view-users">
            <h2>View Users</h2>
            <table id="user-list">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Name</th>
                        <th>Specialty</th>
                        <th>Qualifications</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in data %}
                    <tr>
                        <td>
                            {{user[0]}}
                        </td>
                        <td>
                            {{user[1]}}
                        </td>
                        <td>
                            {{user[2]}}
                        </td>
                        <td>
                            {{user[3]}}
                        </td>
                        <td>
                            <img width="150px" height="150px" src="{{url_for('static', filename='uploads/' + user[4])}}"
                                alt="{{user[4]}}">
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section class="update-profile">
            <h2>Update Profile</h2>
            <form id="update-profile-form">
                <input type="text" id="user-name" placeholder="Your Name" required>
                <input type="email" id="user-email" placeholder="Email Address" required>
                <input type="password" id="user-password" placeholder="New Password">
                <button class="user-button" type="submit">Update Profile</button>
            </form>
        </section>
    </div>

    <footer>
        <p>&copy; 2024 Mark Dashboard</p>
    </footer>
</body>

</html>